@{
    Layout = null;
}


<div style="text-align:center;width:800px;margin-left:auto;margin-right:auto;" >
    <h2>Instructions</h2>
    <br />
    <br/>
    <br />
    <br />
    Write a program to calculate the volume of the moon<br />

    <br />
    <br />
    To see the solution page using JQUERY and WEBAPI2 <a href="/CalculatorJQuery">click here</a><br />
    <br />
    <br />

</div>
