@{
    Layout = null;
}


<div style="text-align:center;width:800px;margin-left:auto;margin-right:auto;" >
    <h2>Instructions</h2>
    <br />
    Your partner has said that they love you to the moon and back<br />
    <br/>
    They have asked you to calculate the volume of the moon.<br />
    <br />
    <br />
    <br />
    Write a program to do this in as many ways as possible<br/>
    try to rely on your own calculations rather than assume constants and compare the results:<br />
    <br />
    To see the solution page using JQUERY and WEBAPI2 <a href="/CalculatorJQuery">click here</a><br />
    <br />
    <br />

</div>
